body {
  background-color: rgb(39, 39, 39);
}
.App {
  text-align: center;
  color: white;
  margin: 50px;
}

.transactions-btn {
    margin: 25px;
}

.transactions-2{
  border: 2px white solid;
  grid-template-columns: repeat(5fr, 1);
}