body {
  background-color: rgb(27, 27, 27);
}
.App {
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 50px;
}

.nav-bar {
  text-align: center;
  white-space: nowrap;
  margin: 50px;
}

input {
  background-color: black;
  margin: 50px;
  color: white;
}

strong {
  color: rgb(102, 159, 251) 
}

.back-to-home {
  color: white;
}

.back-to-home img {
  text-align: center;
  width: 100px;
}

.transactions-btn{
    color: white;
    margin: 25px;
    text-decoration: none;
    white-space: nowrap;
}

.new-transaction-btn {
  text-decoration: none;
  color: rgb(9, 159, 246);
  padding: 10px;
  text-align: center;
}

.transactions-1 {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.transactions-2{
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  margin: 50px;
  color: white;
  background-color: rgb(20, 17, 25);
  border: 1px solid rgb(102, 159, 251) ;
}

.transaction-details{
  font-size: 18px;
  color: green;
  padding: 100px;
  text-decoration: none;
  white-space: nowrap;
}

.transactions-2 p {
  font-size: 20px;
  margin: 60px;
  white-space: nowrap;
  display: inline-block;
}

.details {
  text-decoration: none;
  color: green;

}

.details-2 {
  margin: 25px;
  padding: 25px;
  color: white;
  background-color: rgb(21, 20, 35);
  display: inline-block;
}

.details-2 p {
  font-size: 320x;
  padding: 25px;
  margin: 10px;
  white-space: nowrap;
}

.New {
  text-align: center;
  color: white;
  background-color: rgb(20, 17, 25);
  border: 1px solid rgb(102, 159, 251) ;
  margin: 100px;
}

.New form{
  text-align: center;
  background-color: rgb(15, 21, 40);
}

.budget-total {
  text-align: center;
  font-weight: 400;
  color: white;
}

.budget-amount {
  text-align: center;
  color: green;
}

.footer {
  text-align: center;
  color: white;
  font-weight: 10px;
}